.template-tile__wire {
    width: 20px;
    min-width: 20px;
    height: 0;
    border: 1px solid #dfe6eb;
}

.template-tile__application {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 50%;
    height: 0;
    border: 1px solid #dfe6eb;
    img {
      width: 40px;
      height: 40px;
    }
}

.template-tile__name {
  font-weight: bold;
  padding-bottom: 15px;
}

.template-tile__description {

}

.template-tile__bottom-bar {
  flex-grow: 1;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.template-tile {
  margin: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.template-tile__bottom-bar .button--secondary {
  margin: 10px;
}

.template-tile__summary {
  display: flex;
  align-items: center;
  padding: 10px 0 20px 0;
}

.template-tile__bottom-bar a {

}

.template-tile__dialog-controls {
  padding-right: 12px;

  .template-tile__url-field {
    .bx--snippet-container {
      overflow-y: hidden;
    }
  }
}

.template-tile__copy-button-container {
  position: relative;
}

.template-tile__use-template-dialog {
  width: 500px;
  color: #1d3649;
  min-width: 240px;
  min-height: 80px;
  background-color: #fff;
  padding: 10px 40px 40px 20px;
  display: flex;
  flex-direction: column;
  h1 {
    margin-top: 10px;
  }

}

.template-tile__use-template-url {
  display: flex;
  margin-top: 10px;
}

.template-tile__use-template-url-display {
  flex: 1;

  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  padding: 7px;
  transition: border-color linear .15s,box-shadow linear .1s;
  cursor: text;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  &::selection {
    background: #acf;
  }
}

.template-tile__use-template-url-copy {
  flex: 0 1;
  height: 31px;
  background-color: #734098;
  color: white;
  border: 2px solid #734098;
}
